<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.mapper.TbShopdataMapper">
  <resultMap id="BaseResultMap" type="com.lanou.bean.TbShopdata">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="productID" jdbcType="INTEGER" property="productid" />
    <result column="productNumber" jdbcType="INTEGER" property="productnumber" />
    <result column="oderProductID" jdbcType="INTEGER" property="oderproductid" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, productID, productNumber, oderProductID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_shopdata
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_shopdata
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lanou.bean.TbShopdata">
    insert into tb_shopdata (ID, productID, productNumber, 
      oderProductID)
    values (#{id,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, #{productnumber,jdbcType=INTEGER}, 
      #{oderproductid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lanou.bean.TbShopdata">
    insert into tb_shopdata
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="productid != null">
        productID,
      </if>
      <if test="productnumber != null">
        productNumber,
      </if>
      <if test="oderproductid != null">
        oderProductID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="productnumber != null">
        #{productnumber,jdbcType=INTEGER},
      </if>
      <if test="oderproductid != null">
        #{oderproductid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanou.bean.TbShopdata">
    update tb_shopdata
    <set>
      <if test="productid != null">
        productID = #{productid,jdbcType=INTEGER},
      </if>
      <if test="productnumber != null">
        productNumber = #{productnumber,jdbcType=INTEGER},
      </if>
      <if test="oderproductid != null">
        oderProductID = #{oderproductid,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanou.bean.TbShopdata">
    update tb_shopdata
    set productID = #{productid,jdbcType=INTEGER},
      productNumber = #{productnumber,jdbcType=INTEGER},
      oderProductID = #{oderproductid,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>